.img-cubo{
    width: 4em;
    height: auto;
    margin-left: 2em;
    margin-top: 0.1em;
}

.img-profile{
    border-radius: 50% !important;
    width: 10em !important;
    height: auto !important;
    margin: 1em !important;
    margin-left: 3em !important;
}

.card-profile{
    margin-top: 5em !important;
    max-width: 50em;
}

.social-networks{
    display: flex;
    flex-flow: row wrap;
    margin-left: 2em !important;
}

.social-networks img{
    width: 2em !important;
    height: 2em !important;
    margin: 0.5em !important;
}

.profile-bio{
    margin-top: 2em;
}

.score-img img{
    width: 5em !important;
    margin: 1em !important;
}

.score-card{
    margin-top: 5em !important;
    margin-right: 8em !important;
}

.container{
    margin-left: 8em !important;
}

.progress-card{ 
    height: auto;
    
    margin-left: 2.8em !important;
    display: flex;
    flex-direction: row;
    width: 100%
}

.progress-title{
    font-weight: bold !important; 
}

.progress-item{
    width: 7em;
    margin-right: 4em;
}

.progress-total{
    margin-top: 3em !important;
    margin-right: 8em !important;
}

/* .edit-icon{
    border-radius: 50%;
    margin-right: 0.5em;
    margin-left: 1em;
    margin-top: 0.5em;

    height: 50px;
    width: 50px;
    display: inline-block;
} */

.icon-pencil{
    /* display: table-cell;
    vertical-align: middle;
    text-align: center;  */
}
