
#createMonitoria {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background-color: #787878;
}

#monitoriaForm {
  width: 50%;
  height: 50%;
  transform: translateX(50%) translateY(50%);
  background-color: #DFD9E2;
}

#createMonitoriaButton {
  background-color: #FF8000;
  margin: 0 auto;
  display: block;
}

#monitoriaLabel {
  color: black;
}

#formInputs {
  margin: 20px;
}

body {
    font-family: 'Dosis', sans-serif;
}
